body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

.grid_container {
  width: 100%;
  max-width: 1600px;
}

@media (min-width: 1600px) {
  .grid_container {
    margin: 0 auto;
  }
}

.row::before,
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 0 20px;
  min-height: 1px;
}

[class*="col-"].collapsed {
  padding: 0;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 640px) {
  .col-s-1 {
    width: 8.33333%;
  }
  .col-s-2 {
    width: 16.66667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33333%;
  }
  .col-s-5 {
    width: 41.66667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33333%;
  }
  .col-s-8 {
    width: 66.66667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33333%;
  }
  .col-s-11 {
    width: 91.66667%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-m-1 {
    width: 8.33333%;
  }
  .col-m-2 {
    width: 16.66667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333%;
  }
  .col-m-5 {
    width: 41.66667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333%;
  }
  .col-m-8 {
    width: 66.66667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333%;
  }
  .col-m-11 {
    width: 91.66667%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-l-1 {
    width: 8.33333%;
  }
  .col-l-2 {
    width: 16.66667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33333%;
  }
  .col-l-5 {
    width: 41.66667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33333%;
  }
  .col-l-8 {
    width: 66.66667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33333%;
  }
  .col-l-11 {
    width: 91.66667%;
  }
  .col-l-12 {
    width: 100%;
  }
}

.header {
  background-color: #f1f1f1;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*logo styling*/
  /*menu*/
}

.header .logo_container {
  text-align: center;
  vertical-align: middle;
}

.header .logo_container .logo {
  width: 120px;
  height: 50px;
}

.header .logo_container .logo img {
  margin: 0.9375rem 0 0;
  width: 120px;
  height: 50px;
}

.header .menu_container {
  font-size: 10px;
}

@media (min-width: 768px) {
  .header .menu_container {
    font-size: 1em;
  }
}

.header .menu_container .menu_list {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.header .menu_container .menu_list li {
  padding: 5px;
  display: inline-block;
  list-style: none;
  position: relative;
  vertical-align: middle;
  line-height: 80px;
}

.header .menu_container .menu_list li:active {
  border-bottom: 2px solid #e50a34;
}

.header .menu_container .menu_list li:hover ul {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s;
  padding: 0;
}

.header .menu_container .menu_list li:hover ul::after {
  top: -10px;
  transition: top 0.5s;
  z-index: -1;
}

.header .menu_container .menu_list li a {
  text-decoration: none;
  color: black;
}

.header .menu_container .menu_list li ul {
  visibility: hidden;
  opacity: 0;
  padding: 0;
  background-color: #e50a34;
  position: absolute;
  top: 85px;
  left: -30px;
  white-space: nowrap;
  line-height: 30px;
}

.header .menu_container .menu_list li ul::after {
  content: "";
  position: absolute;
  left: 45px;
  top: 20px;
  transform: rotate(-45deg);
  border-right: 25px solid #e50a34;
  border-bottom: 25px solid transparent;
}

.header .menu_container .menu_list li ul:hover {
  visibility: visible;
  opacity: 1;
}

.header .menu_container .menu_list li ul li {
  display: inline;
  line-height: 30px;
  height: 100%;
  padding: 0;
}

.header .menu_container .menu_list li ul li:hover {
  background-color: #9c0723;
}

.header .menu_container .menu_list li ul li a {
  color: white;
  line-height: 30px;
}

.main_section {
  margin-top: 79px;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsInBhcnRpYWxzL192YXJpYWJsZXMuc2NzcyIsInBhcnRpYWxzL19taXhpbnMuc2NzcyIsInBhcnRpYWxzL19yZXNldC5zY3NzIiwicGFydGlhbHMvX2ZvbnRzLnNjc3MiLCJtb2R1bGVzL19ncmlkLnNjc3MiLCJtb2R1bGVzL19oZWFkZXIuc2NzcyIsIm1vZHVsZXMvX21haW5zZWN0aW9uLnNjc3MiLCJtb2R1bGVzL19mb290ZXIuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IFwicGFydGlhbHMvdmFyaWFibGVzXCI7XHJcbkBpbXBvcnQgXCJwYXJ0aWFscy9taXhpbnNcIjtcclxuQGltcG9ydCBcInBhcnRpYWxzL3Jlc2V0XCI7XHJcbkBpbXBvcnQgXCJwYXJ0aWFscy9mb250c1wiO1xyXG5AaW1wb3J0IFwibW9kdWxlcy9ncmlkXCI7XHJcbkBpbXBvcnQgXCJtb2R1bGVzL2hlYWRlclwiO1xyXG5AaW1wb3J0IFwibW9kdWxlcy9tYWluc2VjdGlvblwiO1xyXG5AaW1wb3J0IFwibW9kdWxlcy9mb290ZXJcIjtcclxuIiwiJGRlc2t0b3A6IDEwMjRweDtcclxuJHRhYmxldDogNzY4cHg7XHJcbiRwaG9uZTogNjQwcHg7XHJcbiIsIkBtaXhpbiBwaG9uZSB7XHJcbiAgQG1lZGlhIChtaW4td2lkdGg6ICN7JHBob25lfSl7XHJcbiAgICBAY29udGVudDtcclxuICB9XHJcbn1cclxuXHJcbkBtaXhpbiB0YWJsZXQge1xyXG4gIEBtZWRpYSAobWluLXdpZHRoOiAjeyR0YWJsZXR9KXtcclxuICAgIEBjb250ZW50O1xyXG4gIH1cclxufVxyXG5cclxuQG1peGluIGRlc2t0b3Age1xyXG4gIEBtZWRpYSAobWluLXdpZHRoOiAjeyRkZXNrdG9wfSl7XHJcbiAgICBAY29udGVudDtcclxuICB9XHJcbn1cclxuIiwiYm9keXtcclxuICBtYXJnaW46IDA7XHJcbiAgcGFkZGluZzogMDtcclxufVxyXG4iLCJAZm9udC1mYWNlIHtcclxuICBmb250LWZhbWlseTogXCJMYXRvXCI7XHJcbiAgc3JjOiB1cmwoXCIuLi9mb250cy9MYXRvLVJlZ3VsYXIudHRmXCIpIGZvcm1hdChcInRydWV0eXBlXCIpO1xyXG4gIGZvbnQtd2VpZ2h0OiBub3JtYWw7XHJcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xyXG59XHJcblxyXG5ib2R5e1xyXG4gIGZvbnQtZmFtaWx5OiBcIkxhdG9cIiwgc2Fucy1zZXJpZjtcclxufVxyXG4iLCIkZ3V0dGVyOiAyMHB4O1xyXG4kY29sdW1uTm86IDEyO1xyXG5cclxuKntcclxuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG59XHJcblxyXG4uZ3JpZF9jb250YWluZXJ7XHJcbiAgd2lkdGg6IDEwMCU7XHJcbiAgbWF4LXdpZHRoOiAxNjAwcHg7XHJcbiAgQG1lZGlhIChtaW4td2lkdGg6IDE2MDBweCl7XHJcbiAgICBtYXJnaW46IDAgYXV0bztcclxuICB9XHJcbn1cclxuXHJcbi5yb3c6OmJlZm9yZSxcclxuLnJvdzo6YWZ0ZXJ7XHJcbiAgY29udGVudDogXCJcIjtcclxuICBjbGVhcjogYm90aDtcclxuICBkaXNwbGF5OiBibG9jaztcclxufVxyXG5cclxuW2NsYXNzKj1cImNvbC1cIl17XHJcbiAgZmxvYXQ6IGxlZnQ7XHJcbiAgcGFkZGluZzogMCAkZ3V0dGVyO1xyXG4gIG1pbi1oZWlnaHQ6IDFweDtcclxuICAmLmNvbGxhcHNlZHtcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgfVxyXG59XHJcblxyXG5AZm9yICRpIGZyb20gMSB0aHJvdWdoIDEye1xyXG4gIC5jb2wteHMtI3skaX17XHJcbiAgICAgIHdpZHRoOiAxMDAvJGNvbHVtbk5vICogJGkgKyAlO1xyXG4gIH1cclxufVxyXG5cclxuXHJcbkBpbmNsdWRlIHBob25leztcclxuICBAZm9yICRpIGZyb20gMSB0aHJvdWdoIDEye1xyXG4gICAgLmNvbC1zLSN7JGl9e1xyXG4gICAgICB3aWR0aDogMTAwLyRjb2x1bW5ObyAqICRpICsgJTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBpbmNsdWRlIHRhYmxldHs7XHJcbiAgQGZvciAkaSBmcm9tIDEgdGhyb3VnaCAxMntcclxuICAgIC5jb2wtbS0jeyRpfXtcclxuICAgICAgd2lkdGg6IDEwMC8kY29sdW1uTm8gKiAkaSArICU7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AaW5jbHVkZSBkZXNrdG9weztcclxuICBAZm9yICRpIGZyb20gMSB0aHJvdWdoIDEye1xyXG4gICAgLmNvbC1sLSN7JGl9e1xyXG4gICAgICB3aWR0aDogMTAwLyRjb2x1bW5ObyAqICRpICsgJTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuIiwiLmhlYWRlcntcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjFmMWYxO1xyXG4gIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCBibGFjaztcclxuICAvL2hlaWdodDogYXV0bztcclxuICBwb3NpdGlvbjogZml4ZWQ7XHJcbiAgdG9wOiAwO1xyXG4gIGxlZnQ6IDA7XHJcbiAgd2lkdGg6IDEwMCU7XHJcbiAgLypsb2dvIHN0eWxpbmcqL1xyXG4gIC5sb2dvX2NvbnRhaW5lcntcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XHJcbiAgICAvL21hcmdpbjogYXV0bztcclxuICAgIC5sb2dve1xyXG4gICAgICB3aWR0aDogMTIwcHg7XHJcbiAgICAgIGhlaWdodDogNTBweDtcclxuICAgICAgaW1ne1xyXG4gICAgICAgIG1hcmdpbjogMC45Mzc1cmVtIDAgMDtcclxuICAgICAgICB3aWR0aDogMTIwcHg7XHJcbiAgICAgICAgaGVpZ2h0OiA1MHB4O1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG4gIC8qbWVudSovXHJcbiAgLm1lbnVfY29udGFpbmVye1xyXG4gICAgZm9udC1zaXplOiAxMHB4O1xyXG4gICAgQGluY2x1ZGUgdGFibGV0e1xyXG4gICAgICBmb250LXNpemU6IDFlbTtcclxuICAgIH1cclxuICAgIC5tZW51X2xpc3R7XHJcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgbWFyZ2luOiAwIGF1dG87XHJcbiAgICAgIGhlaWdodDogMTAwJTtcclxuICAgICAgbGl7XHJcbiAgICAgICAgcGFkZGluZzogNXB4O1xyXG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgICAgICBsaXN0LXN0eWxlOiBub25lO1xyXG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xyXG4gICAgICAgIGxpbmUtaGVpZ2h0OiA4MHB4O1xyXG4gICAgICAgICY6YWN0aXZle1xyXG4gICAgICAgICAgYm9yZGVyLWJvdHRvbTogMnB4IHNvbGlkICNlNTBhMzQ7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXJ7XHJcbiAgICAgICAgICB1bHtcclxuICAgICAgICAgICAgdmlzaWJpbGl0eTogdmlzaWJsZTtcclxuICAgICAgICAgICAgb3BhY2l0eTogMTtcclxuICAgICAgICAgICAgdHJhbnNpdGlvbjogb3BhY2l0eSAycztcclxuICAgICAgICAgICAgcGFkZGluZzogMDtcclxuICAgICAgICAgICAgJjo6YWZ0ZXJ7XHJcbiAgICAgICAgICAgICAgdG9wOiAtMTBweDtcclxuICAgICAgICAgICAgICB0cmFuc2l0aW9uOiB0b3AgMC41cztcclxuICAgICAgICAgICAgICB6LWluZGV4OiAtMTtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgICBhe1xyXG4gICAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgICAgY29sb3I6IGJsYWNrO1xyXG4gICAgICAgIH1cclxuICAgICAgICB1bHtcclxuICAgICAgICAgIHZpc2liaWxpdHk6IGhpZGRlbjtcclxuICAgICAgICAgIG9wYWNpdHk6IDA7XHJcbiAgICAgICAgICBwYWRkaW5nOiAwO1xyXG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI2U1MGEzNDtcclxuICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICAgIHRvcDogODVweDtcclxuICAgICAgICAgIGxlZnQ6IC0zMHB4O1xyXG4gICAgICAgICAgd2hpdGUtc3BhY2U6IG5vd3JhcDtcclxuICAgICAgICAgIGxpbmUtaGVpZ2h0OiAzMHB4O1xyXG4gICAgICAgICAgJjo6YWZ0ZXJ7XHJcbiAgICAgICAgICAgIGNvbnRlbnQ6IFwiXCI7XHJcbiAgICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICAgICAgbGVmdDogNDVweDtcclxuICAgICAgICAgICAgdG9wOiAyMHB4O1xyXG4gICAgICAgICAgICB0cmFuc2Zvcm06IHJvdGF0ZSgtNDVkZWcpO1xyXG4gICAgICAgICAgICBib3JkZXItcmlnaHQ6IDI1cHggc29saWQgI2U1MGEzNDtcclxuICAgICAgICAgICAgYm9yZGVyLWJvdHRvbTogMjVweCBzb2xpZCB0cmFuc3BhcmVudDtcclxuICAgICAgICAgIH1cclxuICAgICAgICAgICY6aG92ZXJ7XHJcbiAgICAgICAgICAgIHZpc2liaWxpdHk6IHZpc2libGU7XHJcbiAgICAgICAgICAgIG9wYWNpdHk6IDE7XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgICBsaXtcclxuICAgICAgICAgICAgZGlzcGxheTogaW5saW5lO1xyXG4gICAgICAgICAgICBsaW5lLWhlaWdodDogMzBweDtcclxuICAgICAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgICAgICBwYWRkaW5nOiAwO1xyXG4gICAgICAgICAgICAmOmhvdmVye1xyXG4gICAgICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6IGRhcmtlbigjZTUwYTM0LCAxNSUpO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIGF7XHJcbiAgICAgICAgICAgICAgY29sb3I6IHdoaXRlO1xyXG4gICAgICAgICAgICAgIGxpbmUtaGVpZ2h0OiAzMHB4O1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcbiIsIi5tYWluX3NlY3Rpb257XHJcbiAgbWFyZ2luLXRvcDogNzlweDtcclxufVxyXG4iLCIiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFHQUEsQUFBQSxJQUFJLENBQUE7RUFDRixNQUFNLEVBQUUsQ0FBQztFQUNULE9BQU8sRUFBRSxDQUFDO0NBQ1g7O0FDSEQsVUFBVTtFQUNSLFdBQVcsRUFBRSxNQUFNO0VBQ25CLEdBQUcsRUFBRSxnQ0FBZ0MsQ0FBQyxrQkFBa0I7RUFDeEQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07OztBQUdwQixBQUFBLElBQUksQ0FBQTtFQUNGLFdBQVcsRUFBRSxrQkFBa0I7Q0FDaEM7O0FDTkQsQUFBQSxDQUFDLENBQUE7RUFDQyxVQUFVLEVBQUUsVUFBVTtDQUN2Qjs7QUFFRCxBQUFBLGVBQWUsQ0FBQTtFQUNiLEtBQUssRUFBRSxJQUFJO0VBQ1gsU0FBUyxFQUFFLE1BQU07Q0FJbEI7O0FBSEMsTUFBTSxFQUFFLFNBQVMsRUFBRSxNQUFNO0VBSDNCLEFBQUEsZUFBZSxDQUFBO0lBSVgsTUFBTSxFQUFFLE1BQU07R0FFakI7OztBQUVELEFBQUEsSUFBSSxBQUFBLFFBQVE7QUFDWixBQUFBLElBQUksQUFBQSxPQUFPLENBQUE7RUFDVCxPQUFPLEVBQUUsRUFBRTtFQUNYLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFFLEtBQUs7Q0FDZjs7Q0FFRCxBQUFBLEFBQUEsS0FBQyxFQUFPLE1BQU0sQUFBYixFQUFjO0VBQ2IsS0FBSyxFQUFFLElBQUk7RUFDWCxPQUFPLEVBQUUsQ0FBQyxDQXhCSCxJQUFJO0VBeUJYLFVBQVUsRUFBRSxHQUFHO0NBSWhCOztDQVBELEFBQUEsQUFJRSxLQUpELEVBQU8sTUFBTSxBQUFiLENBSUMsVUFBVyxDQUFBO0VBQ1QsT0FBTyxFQUFFLENBQUM7Q0FDWDs7QUFJRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxRQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxTQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxHQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxTQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxTQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxHQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxTQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxTQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFNBQVMsQ0FBSTtFQUNULEtBQUssRUFBRSxHQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFVBQVUsQ0FBRztFQUNULEtBQUssRUFBRSxTQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFVBQVUsQ0FBRztFQUNULEtBQUssRUFBRSxTQUFzQjtDQUNoQzs7QUFGRCxBQUFBLFVBQVUsQ0FBRztFQUNULEtBQUssRUFBRSxJQUFzQjtDQUNoQzs7QUhqQ0QsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VHdUN0QixBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxRQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLFNBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsR0FBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxTQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLFNBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsR0FBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxTQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLFNBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsR0FBc0I7R0FDOUI7RUFGRCxBQUFBLFNBQVMsQ0FBRztJQUNWLEtBQUssRUFBRSxTQUFzQjtHQUM5QjtFQUZELEFBQUEsU0FBUyxDQUFHO0lBQ1YsS0FBSyxFQUFFLFNBQXNCO0dBQzlCO0VBRkQsQUFBQSxTQUFTLENBQUc7SUFDVixLQUFLLEVBQUUsSUFBc0I7R0FDOUI7OztBSG5DSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUd5Q3RCLEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLFFBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsU0FBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxHQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLFNBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsU0FBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxHQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLFNBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsU0FBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxHQUFzQjtHQUM5QjtFQUZELEFBQUEsU0FBUyxDQUFHO0lBQ1YsS0FBSyxFQUFFLFNBQXNCO0dBQzlCO0VBRkQsQUFBQSxTQUFTLENBQUc7SUFDVixLQUFLLEVBQUUsU0FBc0I7R0FDOUI7RUFGRCxBQUFBLFNBQVMsQ0FBRztJQUNWLEtBQUssRUFBRSxJQUFzQjtHQUM5Qjs7O0FIckNILE1BQU0sRUFBRSxTQUFTLEVBQUUsTUFBTTtFRzJDdkIsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsUUFBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxTQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLEdBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsU0FBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxTQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLEdBQXNCO0dBQzlCO0VBRkQsQUFBQSxRQUFRLENBQUk7SUFDVixLQUFLLEVBQUUsU0FBc0I7R0FDOUI7RUFGRCxBQUFBLFFBQVEsQ0FBSTtJQUNWLEtBQUssRUFBRSxTQUFzQjtHQUM5QjtFQUZELEFBQUEsUUFBUSxDQUFJO0lBQ1YsS0FBSyxFQUFFLEdBQXNCO0dBQzlCO0VBRkQsQUFBQSxTQUFTLENBQUc7SUFDVixLQUFLLEVBQUUsU0FBc0I7R0FDOUI7RUFGRCxBQUFBLFNBQVMsQ0FBRztJQUNWLEtBQUssRUFBRSxTQUFzQjtHQUM5QjtFQUZELEFBQUEsU0FBUyxDQUFHO0lBQ1YsS0FBSyxFQUFFLElBQXNCO0dBQzlCOzs7QUMxREwsQUFBQSxPQUFPLENBQUE7RUFDTCxnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLGFBQWEsRUFBRSxlQUFlO0VBRTlCLFFBQVEsRUFBRSxLQUFLO0VBQ2YsR0FBRyxFQUFFLENBQUM7RUFDTixJQUFJLEVBQUUsQ0FBQztFQUNQLEtBQUssRUFBRSxJQUFJO0VBQ1gsZ0JBQWdCO0VBZWhCLFFBQVE7Q0E2RVQ7O0FBcEdELEFBU0UsT0FUSyxDQVNMLGVBQWUsQ0FBQTtFQUNiLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLGNBQWMsRUFBRSxNQUFNO0NBV3ZCOztBQXRCSCxBQWFJLE9BYkcsQ0FTTCxlQUFlLENBSWIsS0FBSyxDQUFBO0VBQ0gsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsSUFBSTtDQU1iOztBQXJCTCxBQWdCTSxPQWhCQyxDQVNMLGVBQWUsQ0FJYixLQUFLLENBR0gsR0FBRyxDQUFBO0VBQ0QsTUFBTSxFQUFFLGFBQWE7RUFDckIsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsSUFBSTtDQUNiOztBQXBCUCxBQXdCRSxPQXhCSyxDQXdCTCxlQUFlLENBQUE7RUFDYixTQUFTLEVBQUUsSUFBSTtDQTBFaEI7O0FKNUZELE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFSVAxQixBQXdCRSxPQXhCSyxDQXdCTCxlQUFlLENBQUE7SUFHWCxTQUFTLEVBQUUsR0FBRztHQXdFakI7OztBQW5HSCxBQTZCSSxPQTdCRyxDQXdCTCxlQUFlLENBS2IsVUFBVSxDQUFBO0VBQ1IsVUFBVSxFQUFFLE1BQU07RUFDbEIsTUFBTSxFQUFFLE1BQU07RUFDZCxNQUFNLEVBQUUsSUFBSTtDQWtFYjs7QUFsR0wsQUFpQ00sT0FqQ0MsQ0F3QkwsZUFBZSxDQUtiLFVBQVUsQ0FJUixFQUFFLENBQUE7RUFDQSxPQUFPLEVBQUUsR0FBRztFQUNaLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLGNBQWMsRUFBRSxNQUFNO0VBQ3RCLFdBQVcsRUFBRSxJQUFJO0NBMERsQjs7QUFqR1AsQUFpQ00sT0FqQ0MsQ0F3QkwsZUFBZSxDQUtiLFVBQVUsQ0FJUixFQUFFLEFBT0EsT0FBUSxDQUFBO0VBQ04sYUFBYSxFQUFFLGlCQUFpQjtDQUNqQzs7QUExQ1QsQUE0Q1UsT0E1Q0gsQ0F3QkwsZUFBZSxDQUtiLFVBQVUsQ0FJUixFQUFFLEFBVUEsTUFBTyxDQUNMLEVBQUUsQ0FBQTtFQUNBLFVBQVUsRUFBRSxPQUFPO0VBQ25CLE9BQU8sRUFBRSxDQUFDO0VBQ1YsVUFBVSxFQUFFLFVBQVU7RUFDdEIsT0FBTyxFQUFFLENBQUM7Q0FNWDs7QUF0RFgsQUE0Q1UsT0E1Q0gsQ0F3QkwsZUFBZSxDQUtiLFVBQVUsQ0FJUixFQUFFLEFBVUEsTUFBTyxDQUNMLEVBQUUsQUFLQSxPQUFRLENBQUE7RUFDTixHQUFHLEVBQUUsS0FBSztFQUNWLFVBQVUsRUFBRSxRQUFRO0VBQ3BCLE9BQU8sRUFBRSxFQUFFO0NBQ1o7O0FBckRiLEFBd0RRLE9BeERELENBd0JMLGVBQWUsQ0FLYixVQUFVLENBSVIsRUFBRSxDQXVCQSxDQUFDLENBQUE7RUFDQyxlQUFlLEVBQUUsSUFBSTtFQUNyQixLQUFLLEVBQUUsS0FBSztDQUNiOztBQTNEVCxBQTREUSxPQTVERCxDQXdCTCxlQUFlLENBS2IsVUFBVSxDQUlSLEVBQUUsQ0EyQkEsRUFBRSxDQUFBO0VBQ0EsVUFBVSxFQUFFLE1BQU07RUFDbEIsT0FBTyxFQUFFLENBQUM7RUFDVixPQUFPLEVBQUUsQ0FBQztFQUNWLGdCQUFnQixFQUFFLE9BQU87RUFDekIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsR0FBRyxFQUFFLElBQUk7RUFDVCxJQUFJLEVBQUUsS0FBSztFQUNYLFdBQVcsRUFBRSxNQUFNO0VBQ25CLFdBQVcsRUFBRSxJQUFJO0NBMkJsQjs7QUFoR1QsQUE0RFEsT0E1REQsQ0F3QkwsZUFBZSxDQUtiLFVBQVUsQ0FJUixFQUFFLENBMkJBLEVBQUUsQUFVQSxPQUFRLENBQUE7RUFDTixPQUFPLEVBQUUsRUFBRTtFQUNYLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLElBQUksRUFBRSxJQUFJO0VBQ1YsR0FBRyxFQUFFLElBQUk7RUFDVCxTQUFTLEVBQUUsY0FBYztFQUN6QixZQUFZLEVBQUUsa0JBQWtCO0VBQ2hDLGFBQWEsRUFBRSxzQkFBc0I7Q0FDdEM7O0FBOUVYLEFBNERRLE9BNURELENBd0JMLGVBQWUsQ0FLYixVQUFVLENBSVIsRUFBRSxDQTJCQSxFQUFFLEFBbUJBLE1BQU8sQ0FBQTtFQUNMLFVBQVUsRUFBRSxPQUFPO0VBQ25CLE9BQU8sRUFBRSxDQUFDO0NBQ1g7O0FBbEZYLEFBbUZVLE9BbkZILENBd0JMLGVBQWUsQ0FLYixVQUFVLENBSVIsRUFBRSxDQTJCQSxFQUFFLENBdUJBLEVBQUUsQ0FBQTtFQUNBLE9BQU8sRUFBRSxNQUFNO0VBQ2YsV0FBVyxFQUFFLElBQUk7RUFDakIsTUFBTSxFQUFFLElBQUk7RUFDWixPQUFPLEVBQUUsQ0FBQztDQVFYOztBQS9GWCxBQW1GVSxPQW5GSCxDQXdCTCxlQUFlLENBS2IsVUFBVSxDQUlSLEVBQUUsQ0EyQkEsRUFBRSxDQXVCQSxFQUFFLEFBS0EsTUFBTyxDQUFBO0VBQ0wsZ0JBQWdCLEVBQUUsT0FBb0I7Q0FDdkM7O0FBMUZiLEFBMkZZLE9BM0ZMLENBd0JMLGVBQWUsQ0FLYixVQUFVLENBSVIsRUFBRSxDQTJCQSxFQUFFLENBdUJBLEVBQUUsQ0FRQSxDQUFDLENBQUE7RUFDQyxLQUFLLEVBQUUsS0FBSztFQUNaLFdBQVcsRUFBRSxJQUFJO0NBQ2xCOztBQzlGYixBQUFBLGFBQWEsQ0FBQTtFQUNYLFVBQVUsRUFBRSxJQUFJO0NBQ2pCIn0= */
