@import "partials/variables";
@import "partials/mixins";
@import "partials/reset";
@import "partials/fonts";
@import "partials/animations";
@import "modules/grid";
@import "modules/header";
@import "modules/slider_navigation";
@import "modules/slider_pictures";
@import "modules/mainsection";
@import "modules/footer";
