@keyframes menu_slide {
  from {left: -200px;}
  to {left: -10px;}
}

@keyframes shadow_show {
  from {opacity: 0;}
  to {opacity: 0.7;}
}

@keyframes slide-down {
  from {margin-top: -100px;}
  to {margin-top: 0;}
}
