.boxes_container{
  position: relative;
  .box_container{
    padding: 20px;
    display: inline-block;
    text-align: center;
    [class*="box_inner_"]{
      border: 2px solid lightgrey;
      box-sizing: border-box;
      padding: 5px;
      @include phone{
        min-height: 660px;
      }
      @include tablet{
        min-height: 560px;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
