.icons_section{
    .icons_header{
        text-align: center;
    }
    .icons_header_text{
        text-align: center;
    }
    .icon_container{
        text-align: center;
        margin: 20px 0px;
        padding: 5px 0px;
        max-height: 130px;
        position: relative;
        .icon_image{
            position: relative;
            margin: 0 20px;
            height: 45px;
            width: 45px;
            @include phone{
                margin: 0 40px;
                height: 60px;
                width: 60px;
                top: -10px;
            }
            @include desktop{
                margin: 0 20px;
                height: 110px;
                width: 110px;
                top: -15px
            }
            
        }
        .icon_innerText{
            display: inline-block;
            max-width: 70%;
            
            .icon_title{
                text-align: left;
                margin: 5px 0;
                color: #e50a34;
                text-transform: uppercase;
                font-weight: normal;
                position: relative;
                font-size: 1em;
                @include phone{
                    font-size: 1.2em;
                }
                @include desktop{
                    top: -30px;
                    font-size: 1.5em;
                }
            }
            .icon_text{
                text-align: left;
                margin: 5px 0;
                position: relative;
                font-size: 0.7em;
                @include phone{
                    font-size: 1.0em;
                }
                @include desktop{
                    top: -30px;
                    font-size: 1.5em;
                }
            }
        } 
    }
    .floating_box{
        display: none;
        @media (min-width: 1280px){
            width: 70px;
            height: 70px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            background-color: white;
            position: fixed;
            left: 30px;
            bottom: 30px;
            padding-top: 15px;
            box-shadow: 0 0px 10px 5px darkgray;
            opacity: 0.5;
            transition: opacity 0.5s;
            &:hover{
                opacity: 1;
                transition: opacity 0.5s
            }
            &.mobile_box{
                bottom: 130px;
            }
            &.mail_box{
                padding-top: 20px;
            }

        }
    }
}