//main slider container (MAIN!!!)
.slider{
  position: relative;
  width: 100vw;
  height: auto;
  // every slide container (there are 2)
  [class*="slide_"]{
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    img{
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  .slide_1{
    left: -100%;
    transition: left 0.5s ease;
    &.active{
      left: 0;
      transition: left 0.5s ease;
    }
    //slide 1 text
    .on_slide1_text{
      position: absolute;
      top: 40%;
      left: 5%;
      text-transform: uppercase;
      color: white;
      font-size: 0.7em;
      z-index: 700;
      @include phone{
        font-size: 1.5em;
      }
      @include desktop{
        font-size: 2em;
      }
    }
  }
  .slide_2{
    left: 100%;
    transition: left 0.5s ease;
    &.active{
      left: 0;
      transition: left 0.5s ease;
    }
  }
}
