//main slider container (MAIN!!!)
.slider{
  position: relative;
  top: 10px;
  width: 100%;
  height: 100vh;
  // every slide container (there are 2)
  [class*="slide_"]{
    img{
      width: 100%;
      display: inline-block;
      position: absolute;
    }
    .image_1{
      left: 0;
      &.active{
        transition: left 0.5s ease;
      }
    }
    .image_2{
      left: -100%;
      &.active{
        transition: left 0.5s ease;
      }
    }
    //slide 1 text
    .on_slide_1_text{
      position: absolute;
      top: 50%;
      left: 10%;
      width: 50%;
      text-transform: uppercase;
      color: white;
      font-size: 0.7em;
      @include phone{
        font-size: 1.5em;
      }
      @include desktop{
        font-size: 2em;
      }
    }
  }
}
