.slider_navigation{
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  .bullet_point{
    background-color: white;
    border: 1px solid red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    @include phone{
      height: 20px;
      width: 20px;
    }
    display: inline-block;
    &.bp_active{
      background-color: red;
      border: 1px solid white;
    }
  }
}
