.slider_navigation{
  position: absolute;
  bottom: -10px;
  left: 50%;
  .bullet_point{
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    @include phone{
      height: 20px;
      width: 20px;
    }
    display: inline-block;
    &.bp_active{
      background-color: red
    }
  }
}
